@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark: rgba(255,255,255,0);
}

body{
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 19rem;
  padding: 20px 0px;
}
.navbar-brand{
  max-width: 19rem;
  
}
nav a.nav-link {
  /* font-weight: 500; */
  font-size: .9rem;
  letter-spacing: 0.063rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-left: 8px;
  margin-right: 8px;
  color: var(--primary-white) !important;
  border-top:0.1875rem solid var(--primary-dark );
}

/* .navbar-nav > li > a.active{
  border-top:0.1875rem solid var(--primary-orange) ;
} */
.navbar-nav > li > a.active:focus {
  border-top:0.1875rem solid var(--primary-orange) ;
}
.navbar-nav > li > a:hover {
  border-top:0.1875rem solid var(--primary-orange) ;
}